[Desktop Entry]
Type=Application
Name=PlexFreq
Icon=harbour-plexfreq
Exec=harbour-plexfreq
X-Nemo-Application-Type=silica-qt5

[X-Sailjail]
Permissions=Internet;Audio;Bluetooth
OrganizationName=org.plexfreq
ApplicationName=harbour-plexfreq
